# Flutter/Dart
.dart_tool/
.packages
.pub/
.pub-cache/
build/
**/*.freezed.dart

# IDE
.idea/
.vscode/
*.iml

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# Android/Gradle
android/.gradle/
android/local.properties

# OS
.DS_Store
Thumbs.db
